.heading{
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px ;
    text-align: center;
    margin-right:210px;
    margin-bottom: 20px;
}
.table{
    background-color: #f4f4f4;
    margin-left: 20px;
    margin-right: 200px;
    max-width: 1400px;
    align-items: center;
}
.addBtn{
background-color:rgb(166,208, 248);
padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 8px;
float: right;
margin-right: 40px;

}
.btn{
    margin-left: 10px;
}

.thead-dark{
    color:rgb(166,208, 248);
}