<h1>Add A New Employee</h1>


<form  >
    <div>
    <label>Employee's ID: </label>
    <input type="text" placeholder="Enter The Employee's ID." formControlName="Employee ID">      
    <br>
    
    </div>
    <div>
    <label>Name: </label>
    <input id= "name"type="text" placeholder="Enter The Employee's Name." formControlName="Name">
    <br>
    </div>
    <div>
    <label>Surname:</label>
    <input id="surname" type="text" placeholder="Enter The Employee's Surname." formControlName="Surname">
    <br>
    </div>
    <div>
    <label>Email Address: </label>
    <input type="text" placeholder="Enter The Employee's Email Address." formControlName="Email">
    <br>
    </div>
    
    <div class=" address">
        <br>
        <label>Physical Address</label>
        <input type="text" placeholder="Street Address." formControlName="Address line 1">
        <input type="text" placeholder="Town/city." formControlName="Town/city">
        <input type="number" placeholder="Zip Code" formControlName="Zip Code">

    <br>
    <br>
    <br>


    </div>
    <button type="submit">Submit</button>







</form>
