.container{
    background-color: #f4f4f4;
    border-radius: 5px;
}
h2{
    text-align: center;
    padding-top: 2rem;
    background-color: rgb(166, 208, 248);
    color: white;
    margin-left: 15rem;
    margin-right: 15rem;
    border-radius: 5px;
}



