<<<<<<< HEAD
=======

@import "~bootstrap/dist/css/bootstrap.css";
h1{
    padding-left: 4rem
}
.form-container{
    padding-left: 4rem;
    padding-right: 30rem;
}
html{
    background-color: #f4f4f4f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

} 
>>>>>>> 51f4e610d18945fd32b1b17373db4fd5cd18e70f


html{
    background-color: #f4f4f4f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
<<<<<<< HEAD
=======

>>>>>>> 51f4e610d18945fd32b1b17373db4fd5cd18e70f
